snippet ov "onready var"
onready var ${0}
endsnippet

snippet	fr "func _ready()"
func _ready():
	${1:pass}
endsnippet

snippet	fp "func _process(delta)"
func _process(delta):
	${1:pass}
endsnippet

snippet for "for"
for ${2:item} in ${1:items}:
endsnippet

snippet forr "for range"
for ${2:item} in range(${1:items}):
	${0}
endsnippet

snippet v3 "Vector3"
Vector3(${1:0}, ${2:0}, ${3:0})${0}
endsnippet

snippet v2 "Vector2"
Vector3(${1:0}, ${2:0})${0}
endsnippet
